<ac-layer  *ngIf="radars$ != undefined && radars$ != null" acFor="let radar of radars$" [context]="this" [show]="show">
  <ac-billboard-desc props="{
      show: radar.show,
      text: radar.name,
      position: radar.position,
      image: radar.image,
      width: radar.width,
       height: radar.height,

    }"></ac-billboard-desc>
  <ac-label-desc props="{
      show: radar.show,
      text: radar.name,
      position: radar.position,
      font: '30px sans-serif',
      scale: 0.5,
      pixelOffset : [-15,35] | pixelOffset,
    }"></ac-label-desc>



</ac-layer>
