<!--<p *ngFor="let radar of radars$">-->
  <!--{{radar.name}}-->
<!--</p>-->

<ac-map>

  <!--<ac-layer  acFor="let radar of radars$" [context]="this" [store]="true">-->
    <!--<ac-billboard-desc props="{-->
                    <!--name: radar.name,-->
                    <!--position: radar.position-->
                  <!--}">-->
    <!--</ac-billboard-desc>-->
    <!--&lt;!&ndash;<ac-label-desc props="{&ndash;&gt;-->
                  <!--&lt;!&ndash;position: plane.position,&ndash;&gt;-->
                  <!--&lt;!&ndash;text: plane.name,&ndash;&gt;-->
                  <!--&lt;!&ndash;fillColor: getColor(plane)&ndash;&gt;-->
          <!--&lt;!&ndash;}">&ndash;&gt;-->
    <!--&lt;!&ndash;</ac-label-desc>&ndash;&gt;-->
  <!--</ac-layer>-->

  <app-radars></app-radars>

  <!--<ac-layer acFor="let base of bases$" [context]="this" [show]="show">-->
    <!--<ac-label-desc props="{-->
      <!--show: base.show,-->
      <!--text: base.name,-->
      <!--position: base.position-->
    <!--}"></ac-label-desc>-->
  <!--</ac-layer>-->
</ac-map>

